body {
  background-color: #D9D7F1;
}

hr{
  border-color: #E7FBBE;
  border-style: dotted none none;
  border-width: 8px;
  width: 10%;
}
img{
  width: 400px;
  height: 500px;
}
h1{
  color: #612897;
  text-align: center;
  font-family: "Lucida Console";
}
h2{
  color: #612897;
  text-align: center;
  font-family: "Lucida Console";
}
h3{
  color: #7900FF;
  font-family: "Lucida Console";
}
p{
  color: #1E3163;
  text-align: center;
  font-family: "Lucida Console";
}
table{
  text-align: center;
  font-family: "Lucida Console";
}
